@using Infrastructure.Theme
@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />
<MudContainer MaxWidth="MaxWidth.Small">
    <div class="d-flex flex-column">
        
        <MudText Typo="Typo.h5" Class="mt-6" Align="Align.Center">Not Found</MudText>
        <MudItem xs="12" sm="12" md="12">
            <div class="pa-4 justify-center my-4 mud-text-align-center">
                <MudButton Variant="Variant.Filled" Size="Size.Large" Href="/">Go Home</MudButton>
            </div>
        </MudItem>
    </div>
</MudContainer>

@code {
    private MudTheme _currentTheme = new LightTheme();

    protected override async Task OnInitializedAsync()
    {
        _currentTheme = new LightTheme();
        _currentTheme = await ClientPreferences.GetCurrentThemeAsync();
    }
}